.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 20vmin;
}

.App-Bar {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  justify-content: center
}

.Paper {
  margin-top: 2rem;
  width: 30rem;
  height: 15rem;
  max-width: 35rem;
  padding: 1.25rem;
}

@media screen and (max-width: 400px) {
  .Paper {
    max-width: 80vw;
    height: 20rem;
  }
}

.subtitle {
  text-align: left;
}
